body {
  background-color: #0D1B2A;
  color: #E0E1DD;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#outer-square {
  background-color: #1B263B;
  width: 95vw;
  height: 90vh;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

#title-container {
  position: relative;
  background-color: #415A77;
  width: 95%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  align-items: center;
}

#title {
  text-align: center;
  font-size: 6em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  border: solid 2px #778DA9;
  border-radius: 10px;
}

#button {
  position: absolute;
  right: 35px;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

#bottom {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: #415A77;
  width: 90vw;
  height: 62vh;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#form-box {
  background-color: #1B263B;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#task-container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  overflow-y: auto;
  margin: 0 auto;
  background-color: #415A77;
  border: solid 2px #778DA9;
  width: 90vw;
  height: 62vh;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#task {
  background-color: #E0E1DD;
  color: #0D1B2A;
  border: solid 2px #0D1B2A;
  text-align: center;
  width: 86vw;
  height: 80px;
  min-height: 80px;
  border-radius: 20px;
  margin-top: 30px;
  margin: 10px auto;
  display: flex;
  align-items: 'center';
}

#left {
  margin-left: 10px;
}

#right {
  margin-right: 10px;
}

#circle {
  background-color: #E0E1DD;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto auto;
  border: solid 2px #0D1B2A;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #E0E1DD;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 600px;
}

.overflow {
  overflow-y: auto;
}